<!DOCTYPE html>
<html>
  <%- include("./public/head.ejs")%>
  <body>
  	<%- include("./public/header.ejs")%>
  	<section class="main floatfix">
  		<%- include("./public/aside.ejs")%>
  		<section class="main-articles friends">
  			<h2>Node的友情链接网站</h2>
  			<ul class="floatfix">
  				<li><a href="https://github.com">GitHub</a></li>
  				<li><a href="https://cnodejs.org">CNode</a></li>
  				<li><a href="https://segmentfault.com">segmentfault</a></li>
  				<li><a href="https://goole.com">goole</a></li>
  				<li><a href="https://www.npmjs.com">NPM</a></li>
  				<li><a href="https://ruby-china.org">ruby china</a></li>
  				<li><a href="https://www.w3school.com.cn">w3school</a></li>
  				<li><a href="https://developer.mozilla.org">MDN</a></li>
  			</ul>
  		</section>
  	</section>
<%- include("./public/footer.ejs")%>
  </body>
</html>
